<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>EDUCATIONAL DETAILS</h1>
        <h2>GRADUATION:Bachelor of degree<br>
            Sri Shiridi Sai Women's Degree College,<br>
             Annamayya(dist)<br>
            Andhrapradesh  percentage:85%,2019-2022</h2>
        <h2>INTERMEDIATE:sri padmavathi women's junior college Tirupathi,<br>
            percentage:85%  2017-2019</h2>
            <h2>SSC:Zilla Parishad High School,Devalampalli<br>
                Annamayya (dist)  CGPA:9.3 (2017)
            </h2>
        <a href="{% url 'app3:sample3' %}">sample3</a>
        <a href="{% url 'sample1' %}">sample1</a>
    </center>
</body>
</html>