<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>TECNICAL SKILLS</h1>
        <h2>PYTHON FULLSTOCK DEVELOPMENT</h2>
        <H3>1.CORE PYTHON <br>
            2.FRAMEWORK:(Django,Flask)<br>
            3.SQL<br>
            4.WEB TECHNOLOGY:(Html,css,javascript)<br>
        </H3>
        <a href="{% url 'app2:sample2' %}">sample3</a>
        <a href="{% url 'sample1' %}">sample1</a>
    </center>
    
</body>
</html>