<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>BIO-DATA</h1>
        <h2>NAME:Deepika Gandham</h2>
        <h2>AGE:20</h2>
        <h2>GENDER:Female</h2>
        <h2>NATIONALITY:Indian</h2>
        
        <a href="{% url 'app2:sample2 %'}">sample2</a>
        <a href="{% url 'app3:sample3 %'}">sample3</a>
    </center>
    
</body>
</html>